#### Tokenization:

In [36]:
import nltk
from tqdm import tqdm
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize, TweetTokenizer, TreebankWordTokenizer, wordpunct_tokenize
import pandas as pd
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\joelj\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\joelj\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

#### sent_tokenize & word_tokenize:

In [37]:
data = pd.read_csv(filepath_or_buffer="../data/train.csv",delimiter=",", usecols=['text','sentiment'])
print("Shape:",data.shape)
print(data.head())
print(data.dtypes)

Shape: (27481, 2)
                                                text sentiment
0                I`d have responded. if I were going   neutral
1      Sooo SAD I will miss you here in San Diego!!!  negative
2                          my boss is bullying me...  negative
3                     what interview! leave me alone  negative
4   Sons of ****, why couldn`t they put them on t...  negative
text         object
sentiment    object
dtype: object

In [38]:
print(data.isnull().sum())
data.isnull()

text         1
sentiment    0
dtype: int64

        text  sentiment
0      False      False
1      False      False
2      False      False
3      False      False
4      False      False
...      ...        ...
27476  False      False
27477  False      False
27478  False      False
27479  False      False
27480  False      False

[27481 rows x 2 columns]

In [39]:
val = data.isnull()
index = [i for i in range(len(val)) if val['text'][i] == True]
print(index)

[314]

In [40]:
print(data.iloc[index,:])

    text sentiment
314  NaN   neutral

In [41]:
data.drop(axis=0,index=index,inplace=True)
print(data.isnull().sum())
data.reset_index(drop=True, inplace=True)
data.shape

text         0
sentiment    0
dtype: int64

(27480, 2)

In [43]:
for index in tqdm(range(len(data['text']))): 
    token_sentences = sent_tokenize(data['text'][index], language='english')
    text_data = ""
    for sentence in token_sentences:
        words = word_tokenize(sentence)
        text_data += " ".join(word for word in words if word not in stopwords.words('english'))
    data.loc[index,'text'] = text_data 
print(data)

100%|██████████| 27480/27480 [02:28<00:00, 184.76it/s]

                                                    text sentiment
0                                 I ` responded .I going   neutral
1                         Sooo SAD I miss San Diego ! !!  negative
2                                      boss bullying ...  negative
3                                 interview !leave alone  negative
4           Sons * * * * , ` put releases already bought  negative
...                                                  ...       ...
27475  wish could come see u Denver husband lost job ...  negative
27476  I ` wondered rake .The client made clear .NET ...  negative
27477  Yay good .Enjoy break - probably need hectic w...  positive
27478                                But worth * * * * .  positive
27479  All flirting going - The ATG smiles .Yay .( ( ...   neutral

[27480 rows x 2 columns]

#### Tweet Tokenizer:

In [44]:
data2 = pd.read_csv(filepath_or_buffer="../data/train.csv",delimiter=",", usecols=['text','sentiment'])

In [45]:
index = [i for i in range(len(val)) if val['text'][i] == True]
data2.drop(axis=0,index=index,inplace=True)
data2.reset_index(drop=True, inplace=True)

In [46]:
print(data2.shape)
print(data2.tail())

(27480, 2)
                                                    text sentiment
27475   wish we could come see u on Denver  husband l...  negative
27476   I`ve wondered about rake to.  The client has ...  negative
27477   Yay good for both of you. Enjoy the break - y...  positive
27478                         But it was worth it  ****.  positive
27479     All this flirting going on - The ATG smiles...   neutral

In [ ]:
tweet_tokenizer = TweetTokenizer()
tweet_token = ""
for index in tqdm(range(len(data2['text']))):
    tokenized = tweet_tokenizer.tokenize(data2['text'][index])
    tweet_token += " ".join(token for token in tokenized if token not in stopwords.words('english'))
    data2.loc[index,'text'] = tweet_token
print(data2)

['I', '`', 'd', 'have', 'responded', '.', 'if', 'I', 'were', 'going']