#### Stemming:

In [1]:
from nltk.stem import PorterStemmer
import re
from tqdm import tqdm
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import pandas as pd 
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\joelj\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\joelj\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
data = pd.read_csv("../data/train.csv", delimiter=",", usecols=["text","sentiment"])
print(data.head(5))

                                                text sentiment
0                I`d have responded, if I were going   neutral
1      Sooo SAD I will miss you here in San Diego!!!  negative
2                          my boss is bullying me...  negative
3                     what interview! leave me alone  negative
4   Sons of ****, why couldn`t they put them on t...  negative

In [3]:
data.isnull().sum()

text         1
sentiment    0
dtype: int64

In [4]:
data["text"].fillna("Dummy Value", inplace=True)
print(data.loc[313:315,'text'])

313     Not going to dwell on it. It happened, it`s p...
314                                          Dummy Value
315    It looks like the office TV DOES get MLB Netwo...
Name: text, dtype: object

C:\Users\joelj\AppData\Local\Temp\ipykernel_16884\2033846130.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["text"].fillna("Dummy Value", inplace=True)

In [5]:
data.isnull().sum()

text         0
sentiment    0
dtype: int64

In [6]:
for index in tqdm(range(len(data['text']))):
    words = word_tokenize(data['text'][index])
    words = [word.lower() for word in words]
    words = " ".join(PorterStemmer().stem(word) for word in words if word not in stopwords.words('english'))
    words = re.sub("[^a-zA-Z0-9]+"," ", words)
    words = re.sub("([\s]+){2,}","", words)
    data.loc[index,'text'] = words
print(data.head(5))

100%|██████████| 27481/27481 [02:43<00:00, 168.20it/s]

                            text sentiment
0                     respond go   neutral
1       sooo sad miss san diego   negative
2                    boss bulli   negative
3            interview leav alon  negative
4  son put releas alreadi bought  negative